body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Navigation Bar */

#home {
  background-color: #7600bc;
  padding: 2cm 0;
  margin: -1cm 0;
}

.topmenu {
  color: lightgray;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
}

.topmenu:hover {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.topdiv {
  float: right;
  padding-right: 1cm;
}

.profile_name {
  float: left;
  padding-left: 2cm;
}

.profile_name .contact_info {
  font-size: 15px;
  font-style: italic;
  display: flex;
  align-items: center;
}

.contact_info img {
  width: 25px;
  margin-right: 10px;
}

.container {
  display: flex;
}

/* About Me Section */

#about-me h1 {
  font-size: 65px;
  margin-top: 90px;
  color: #7600bc;
  text-align: center;
}

#about-me p {
  font-size: 25px;
  color: rgb(128, 128, 128);
  margin-top: -1cm;
  line-height: 35px;
  margin-left: 190px;
  text-align: justify;
}

.profile_image {
  width: 300px;
  height: auto;
  margin: 5px;
}
.para {
  width: 700px;
}
.image {
  position: absolute;
  left: 20px;
  margin-top: 50px;
}

/* Skills Section */

.all_skills {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  border: 1px solid gray;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
  box-shadow: 0 3px 10px gray;
}

.skill img {
  height: 35px;
}

.skills h6 {
  font-size: 20px;
  margin-block-start: 8px;
  margin-block-end: 5px;
  font-weight: bold;
}

.skills p {
  font-size: 15px;
  color: gray;
  margin-block-start: 5px;
  margin-block-end: 5px;
}

/* Projects Section */

.projects-container {
  margin-top: 30px;
  margin-left: 60px;
}

.projects-container hr {
  border: 1px solid lightgray;
  width: 75%;
  margin-left: 5cm;
}

.project-card {
  margin: 0 15px 15px 30px;
  padding-bottom: 5px;
}

.project-card h3 {
  font-size: 25px;
  margin-left: 30px;
}

.project-card li {
  font-size: 20px;
  margin-left: 30px;
}

/* Recommendations Section */

.all_recommendations {
  display: flex;
  align-items: center;
  margin-left: 1in;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

.recommendation {
  font-style: italic;
  text-align: left;
  width: 21.875rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  border: 1px solid gray;
  font-size: 18px;
  height: 150px;
}

.recommendation span {
  color: #7600bc;
  font-size: 20px;
}

/* Scroll to Top Button */

.iconbutton {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #7600bc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 3%;
  bottom: 3%;
  cursor: pointer;
}

/* Pop-up for Form Submission */

.popup {
  width: 400px;
  background-color: #e8bcf0;
  border-radius: 3mm;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: fixed;
  visibility: hidden;
}

.popup img {
  padding-top: 20px;
}

.popup button {
  background-color: #fff;
  border: 1px solid #7600bc;
  color: #7600bc;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
}

.popup button:hover {
  background-color: #fff;
  border: 2px solid #7600bc;
  color: #7600bc;
  display: block;
  text-align: center;
  cursor: pointer;
}

/* Recommendation Form Section */

input,
textarea {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 10px;
  width: 100%;
}

fieldset {
  display: block;
  align-items: center;
  justify-content: center;
  padding: 25px;
  margin-left: 50px;
  margin-right: 50px;
  border: thin solid white;
  width: 20%;
  height: 100px;
}

/* Buttons */

button {
  background-color: #fff;
  border: 1px solid #7600bc;
  color: #7600bc;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
}

button:hover {
  background-color: #7600bc;
  border: 1px solid #7600bc;
  color: #fff;
  display: block;
  text-align: center;
  cursor: pointer;
}


#contact {
  margin-left: 250px;
}
